@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
*{
	font-family: 'IBM Plex Sans', sans-serif !important;
	text-decoration: none !important;
} 

:root {
	--box: #64748b;
	--main: #14b8a6;
}

/* Custom styles for form-control */
.form-control {
	border: 1px solid var(--box);
	border-radius: 5px;
	padding: 8px 12px;
	font-size: 14px;
	color: #333;
	background-color: #f8f8f8;
	box-shadow: none;
	transition: border-color 0.3s, box-shadow 0.3s;
}

/* On focus, change border color and add a slight shadow */
.form-control:focus {
	border-color: var(--main);
	box-shadow: none;
}

/* Cool teal submit button design */
.form-button {
	background-color: #1abc9c;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 7px 20px;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	transition: background-color 0.3s;
	text-decoration: none !important;
}

/* Hover effect: Darken the background color */
.form-button:hover {
	background-color: #16a085;
}

.card.module {
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin-bottom: 30px;
	text-align: center;
	border-radius: 2px;
	border: none;
    transition: .3s ease-in-out;
}
.card.module:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.233);
}
.card.module h5 {
	margin-top: 20px;
}


.custom-primary-bg {
	background-color: #4E87B2; /* Custom primary color */
	color: #fff; /* Text color */
}

.custom-success-bg {
	background-color: #66BB6A; /* Custom success color */
	color: #fff; /* Text color */
}

.custom-info-bg {
	background-color: #5DA9E9; /* Custom info color */
	color: #fff; /* Text color */
}

.custom-secondary-bg {
	background-color: #757575; /* Custom secondary color */
	color: #fff; /* Text color */
}

.custom-warning-bg {
	background-color: #FFC107; /* Custom warning color */
	color: #fff; /* Text color */
}

.custom-danger-bg {
	background-color: #E53935; /* Custom danger color */
	color: #fff; /* Text color */
}




.list-unstyled li a{
	text-decoration: none;
	color: #e2e8f0;
	transition: .3s ease-in-out;
}
.list-unstyled li a:hover{
	color:#f8fafc ;
	text-decoration: underline;
}
.footer-note a{
	color: #f97316;
	text-decoration: none;
	font-weight: 500;
}
.footer-note a:hover{
	text-decoration: underline;
}
.errorlist{
	margin-top: 7px;
	margin-bottom: 0;
}
.errorlist li{
	font-size: .75rem;
	color:#ef4444;
	line-height: 14px;
}
.h-20{
	height: 150px;
}

.total-value-card {
  background-color: #d1fae5; /* Custom background color */
  border: 1px solid #14b8a6; /* Custom border color */
  border-radius: 10px;
  padding: 15px; /* Padding around the content */
}

.total-value-card h5 {
  color: #14b8a6; /* Custom title color */
  font-size: 1.25rem; /* Custom title font size */
  margin-bottom: 10px; /* Bottom margin for spacing */
}

.total-value-card p {
  font-size: 1.5rem; /* Custom text font size */
  font-weight: bold; /* Bold text */
  margin: 0; /* Remove margin to align text with card edges */
}

.custom-pagination .page-item {
  border-radius: 0; /* Remove border radius */
  margin: 0; /* Reset margin */
}

.custom-pagination .page-item:not(.active) a {
  color: teal; /* Teal color for non-active links */
}

.custom-pagination .page-item.active a {
  background-color: teal; /* Teal background color for active link */
  border-color: teal; /* Teal border color for active link */
  color: white; /* White text color for active link */
}

.custom-pagination .page-link {
  font-size: 1rem; /* Smaller font size */
  padding: 0.5rem 0.6rem; /* Adjust padding */
}


